.container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 50px;
}

.right{
    height: 100%;
}
.hero-image{
    height: 100%;
    width: 800px;
}

